*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

body{

    background-color: #0e0e0f;
    color: white;

}

.global-container{
    
    height: 100%;
    width: 80vw;
    margin:auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-me-container{
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
}

.my-name{
    margin: auto;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    word-break: break-all;
}

.about-me{
    
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-me-text{
    flex: 2;
    text-align: justify;
    
    font-size: 20px;
    font-weight: 300;
}

.my-pic-container{
    width: 200px;
     
}

.my-pic{

    
   width: 100%;
   height: 200px;
    
    object-fit:cover;
    object-position: left;
    border-radius: 150px;
    border: 1px solid rgba(0,0,0, 0.25);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.56);
}



.education-awards-skills-container{
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

}

.education-container{
    background-color: #2a2a2a;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;

    flex: 1.5;

}

.awards-container{
    flex: 1;
    background-color: #2a2a2a;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.skills-container{
    flex: 1.5;
    background-color: #2a2a2a;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.education-awards-skills-heading{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}




.point-heading{
    font-weight: 700;
}

.point-detail{
    font-weight: 300;
}

ul li{
    line-height: 30px;
    text-align: justify;
}


.projects-container{
    padding: 20px;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.project-main-heading{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.project-details-container{
    background-color: #2a2a2a;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.project-heading{
    display: inline-block;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
   word-break: break-all;
}

.project-heading:hover{
    text-decoration: underline;
}

.projects-details{
    font-weight: 300;
}