*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

body{

    background-color: #0e0e0f;
    color: white;

}

.global-container{
    background-color: #2a2a2a;
    margin-top: 10px;
    height: 100vh;
    width: 80vw;
    margin:auto;
    margin-top: 10vh;
    
    display: flex;
    flex-direction: column;
}

.about-me-container{
    display: flex;
    flex-direction: column;
    border:1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
}

.my-name{
    margin: auto;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
}

.about-me{
    
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.about-me-text{
    flex: 2;
    text-align: justify;
    
    font-size: 20px;
    font-weight: 300;
}

.my-pic-container{
    width: 200px;
     
}

.my-pic{

    
   width: 100%;
   height: 200px;
    
    object-fit:cover;
    object-position: left;
    border-radius: 150px;
    border: 1px solid rgba(0,0,0, 0.25);
    box-shadow: 1px 1px 3px rgba(0,0,0, 0.56);
}

