* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

.dark-mode {

    background-color: #0e0e0f;
    color: white;

}

.light-mode {
    background-color: rgb(255, 255, 255);
    color: #1a1a1a;
}

.download-button-dark, .download-button-light {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    position: absolute;
    top: 10px;
    left: 30px;
    border-radius: 5px;
}

.download-button-light{
    background-color: rgb(214, 210, 210);
}

.download-link {
    padding: 5px;
}

.download-button:hover {
    cursor: pointer;
}

.download-sign {

    width: 28px;
}

.dark-mode-button,
.light-mode-button {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 5px;
}

.dark-mode-button {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 5px;
}

.light-mode-button {
    background-color: rgb(214, 210, 210);
    color: black;
}

.dark-mode-button:hover,
.light-mode-sign:hover {
    cursor: pointer;
}

.dark-mode-sign,
.light-mode-sign {
    width: 27px;
    padding: 2px 5px;
}

.global-container {

    height: 100%;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.about-me-container {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 50px 20px;
}

.name-title-container {
    display: flex;
    flex-direction: column;
}

.my-name {
    margin: auto;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    word-break: break-all;
    letter-spacing: 2px;
}

.title {
    margin: auto;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me {

    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-me-text {
    flex: 2;
    text-align: justify;

    font-size: 20px;
    font-weight: 300;
}

.my-pic-container {
    width: 200px;

}

.my-pic {


    width: 100%;
    height: 200px;

    object-fit: cover;
    object-position: left;
    border-radius: 150px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.56);
}



.education-awards-skills-container {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;

}

.education-container {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;

    flex: 1.5;

}

.awards-container {
    flex: 1;
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.skills-container {
    flex: 1.5;
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.education-awards-skills-heading {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}




.point-heading {
    font-weight: 700;
}

.point-detail {
    font-weight: 300;
}

ul li {
    line-height: 30px;
    text-align: justify;
}


.projects-container {
    padding: 20px;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.project-main-heading {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.project-details-container {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.project-heading-dark, .project-heading-light {
    display: inline-block;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    word-break: break-all;
}

.project-heading-light{
    color: black;
}

.project-heading:hover {
    text-decoration: underline;
}

.projects-details {
    font-weight: 300;
}

.contact-container {
    background-color: #2a2a2a;
    border: 1px solid rgb(119, 118, 118);
    border-radius: 10px;
    padding: 20px 20px 20px 40px;
}

.contact-heading {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.contact-content {
    font-weight: 300;
}

.email-container {
    display: flex;
    column-gap: 10px;
    justify-content: start;
    align-items: center;
}



.email-sign {
    width: 28px;
}

.phone-no-sign-container {
    display: flex;
    column-gap: 10px;
}

.phone-no-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.phone-sign {
    width: 28px;
}

.footer-container {
    height: 50px;
    background-color: #2a2a2a;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.footer-content {
    display: flex;
    gap: 20px;
}